body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e2e6db;
}
nav{
    background-color: #535353;
    padding: 20px 40px;
    

}
nav a{
    padding-left: 40px;
    text-decoration: none;
    font-weight: 800;
    color: #000;
}
h1{
    font-size: 100px;
}
.education{
    width: 40%;
    margin: 20px ;
    text-align: left;
}

.education h1{
    color: #111827;
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table, th, td{
    border: 1px solid #ccc;
}

th{
    background: #111827;
    color: white;
    padding: 15px;
}

td{
    padding: 15px;
    text-align: center;
}

tr:hover{
    background: #f4f4f4;
}
nav a {
    color: aqua;
    padding-top: 70px;
    /* padding-right: 20px; */
    margin: auto;
    padding-left: 10px;
}

img{
    border-radius: 100%;
}